name: ci-cd
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      contents: read          # Required to checkout and read repo files
      security-events: write  # Required to upload SARIF files to Security tab
      attestations: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results.sarif'

      - name: SonarQube Analysis
        run: |
          mvn -B clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=DevOps1stPortfolio \
            -Dsonar.projectName='DevOps1stPortfolio' \
            -Dsonar.host.url=http://20.223.137.252:9000 \
            -Dsonar.token=sqp_932b2c72c0d1d0ec62e58bce5460e4f5cec1a4f5
        
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/devops-portfolio
          tags: |
            type=sha,prefix=

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }} 
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/${{ secrets.DOCKERHUB_USERNAME }}/devops-portfolio
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: Update CD repo with new image tag
        run: |
          git clone https://${{ secrets.PAT_TOKEN }}@github.com/Kyul2022/DevOpsPortfolio1st-k8sInfra.git
          ls -l
          cd DevOpsPortfolio1st-k8sInfra
          cd dev
          
          git config user.email "ulrichkamdem048@gmail.com"
          git config user.name "Kyul"
          
          sed -i "s|image: .*devops-portfolio:.*|image: ${{ steps.meta.outputs.tags }}|g" backend.yaml
          
          git add backend.yaml
          git commit -m "again ci: update image tag to ${{ github.sha }}"
          git push



